@model MadeItBaby.Models.Seller

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slogan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic1Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic1Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic2Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic2Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePic3Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePic3Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasEtsyStore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasEtsyStore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtsyLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtsyLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFBPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasFBPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FBLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasWebPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasWebPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
