@model IEnumerable<MadeItBaby.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slogan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic1Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic2Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeaturePic3Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasEtsyStore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtsyLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasFBPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FBLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasWebPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slogan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic1Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic2Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturePic3Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasEtsyStore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtsyLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasFBPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FBLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasWebPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SellerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SellerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SellerID })
        </td>
    </tr>
}

</table>
